body{
    background-color: #edeff0;
    vertical-align: auto;
    margin: 0 auto;
    
}

.intro-head {
    text-align: center;
    color: #4b4b4b;
    /* font-family: 'Sacramento', cursive; */
    font-family: monospace;
    margin: 0 auto;
    font-size: 3rem;
    font-weight: normal;
}