body{
    background-color: #edeff0;
    margin: 0;
    vertical-align: center;
    margin: 0 auto;
    
}

h1.intro-head{
    text-align: center;
    color: #4b4b4b;
    /* font-family: 'Sacramento', cursive; */
    font-family: monospace;
    margin: 0 auto;
}